<h3>Existing User?</h3>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Username</span>
    <input type="text" class="form-control" id="username" aria-describedby="sizing-addon2" required [(ngModel)]="model.username" name="username">
  </div>
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Password</span>
    <input type="password" class="form-control" aria-describedby="sizing-addon2" id="password" required [(ngModel)]="model.password" name="password">
  </div>
  <div *ngIf="message" class="alert alert-danger margin">{{message}}</div>
  <button [disabled]="submitted || !loginForm.form.valid" type="submit" class="btn btn-info btn-block">Log In</button>
</form>

