<h3 class="bungee">New User? Signup</h3>
<form (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Name</span>
    <input type="text" class="form-control" placeholder="Your First Name" aria-describedby="sizing-addon2" id="name" required [(ngModel)]="model.name" name="name">
  </div>
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Email</span>
    <input type="text" class="form-control" placeholder="Email (for verification purposes)" aria-describedby="sizing-addon2" id="email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" [(ngModel)]="model.email" name="email">
  </div>
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Username</span>
    <input type="text" class="form-control" placeholder="3+ Character Username" minlength="3" regex="^[a-zA-Z0-9_]*$" aria-describedby="sizing-addon2" id="username" required [(ngModel)]="model.username" name="username">
  </div>
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Password</span>
    <input type="password" placeholder="8+ Character Password" class="form-control" aria-describedby="sizing-addon2" id="password" minlength="8" required [(ngModel)]="model.password" name="password">
  </div>
  <div class="input-group margin">
    <span class="input-group-addon" id="sizing-addon2">Confirm Password</span>
    <input type="password" placeholder="Type Password Again" class="form-control" aria-describedby="sizing-addon2" id="confirm_password" minlength="8" required [(ngModel)]="model.confirm_password" name="confirm_password">
  </div>
  <div *ngIf="message" class="alert alert-danger">Server responded with: {{message}}</div>
  <button [disabled]="submitted || !signupForm.form.valid" type="submit" class="btn btn-info btn-block">Sign Up</button>
</form>

