<div *ngIf="debate" class="container">
    <h1>{{ this.debate.debate_name }} </h1>

    <div class="row">
        <div class="col-md-5">
            <h3> {{ this.debate.proponent_username }} </h3>
        </div>

        <div class="col-md-5 col-md-offset-2">
            <h3> {{ this.debate.opponent_username || "Waiting for Opponent"}} </h3>
        </div>
    </div>

    <div class="row" *ngFor="let row of rows">
        <div class="col-md-5">
            <div class="well point_container" *ngIf="row.leftPoint">
                <span> {{ row.leftPoint.point_text }}</span> 
                <br>
                <small class="pull-right pull-down">{{ row.leftPoint.point_created }} </small>

            </div>
        </div>
        <div class="col-md-2">
            <div class="arrow-container" *ngIf="row.arrowDirection">
                <div>
                    <span class="glyphicon glyphicon-arrow-{{row.arrowDirection}}"></span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="well point_container" *ngIf="row.rightPoint">
                <span> {{ row.rightPoint.point_text }} </span>
                <br>
                <small class="pull-right pull-down">{{ row.rightPoint.point_created }} </small>
            </div>
        </div>
    </div>

    <div *ngIf="this.showPostForm" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group">
                <label for="pointTextForm">New Point:</label>
                <textarea id="pointTextForm" class="form-control"
                    rows="3" [(ngModel)]="pointText"></textarea>
            </div>
            <button (click)="this.submitPoint()" type="submit" class="btn btn-default">Submit</button>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>
