<div *ngIf="debate" class="container">
    <h1>{{ this.debate.debate_name }} <small>({{this.debate.channel_name}})</small></h1>
    <button *ngIf="this.showJoinButton"
        class="btn btn-primary"
        (click)="joinDebate()">
        Join debate
    </button>

    <div class="row">
        <div class="col-md-6">
            <h3> {{ this.debate.proponent_username }} </h3>
        </div>

        <div class="col-md-6">
            <h3> {{ this.debate.opponent_username || "Waiting for Opponent"}} </h3>
        </div>
    </div>

    <div class="row" *ngFor="let row of rows">
        <div class="col-md-6">
            <div class="point_container"
                 [ngClass]="{'point_shifted': row.pointShifted == 'left'}"
                *ngIf="row.leftPoint">
                <p>{{ row.leftPoint.point_type || '' }}</p>
                <div class="well">
                    <span> {{ row.leftPoint.point_text }}</span>
                    <br>
                    <small class="pull-right pull-down timestamp">{{ row.leftPoint.point_created }} </small>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-2">
            <div class="arrow-container" *ngIf="row.arrowDirection">
                <div>
                    <span class="glyphicon glyphicon-arrow-{{row.arrowDirection}}"></span>
                </div>
            </div>
        </div>
        -->
        <div class="col-md-6">
            <div class="point_container"
                 [ngClass]="{'point_shifted': row.pointShifted == 'right'}"
                *ngIf="row.rightPoint">

                <p>{{ row.rightPoint.point_type || '' }}</p>
                <div class="well">
                    <span> {{ row.rightPoint.point_text }} </span>
                    <br>
                    <small class="pull-right pull-down timestamp">{{ row.rightPoint.point_created }} </small>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="this.showPostForm" class="row">
        <div *ngIf="this.beefApi.getUser().username == this.debate.opponent_username"
             class="col-md-6"></div>
        <div class="col-md-6">
            <div class="input-group">
                <label for="pointTextForm">New Point:</label>
                <input type="text" id="pointTextForm" class="form-control"
                                                      rows="3" [(ngModel)]="pointText" />
            </div>
            <button (click)="this.submitPoint()" type="submit" class="btn btn-default">Submit</button>
        </div>
        <div *ngIf="this.beefApi.getUser().username == this.debate.proponent_username"
             class="col-md-6"></div>

    </div>

</div>
