<div class="container">
	<h1>My Debates</h1>
    <div *ngIf="this.debates">
        <div *ngIf="message">{{message}}</div>
        <ul *ngIf="!message" class="list-group">
          <li class="list-group-item" *ngFor="let debate of debates">
            <!--<span class="badge">{{ debate.points.length }}</span>-->
          <a (click)="goToDebate(debate.debate_id)">{{ debate.debate_name }}</a>
          </li>
        </ul>
    </div>
    <div *ngIf="this.debates?.length == 0">
        You are not participating in any debates.
        <a routerLink="/debate/new">Click here</a>
        to create one!
    </div>
</div>
