<div class="container bungee">
	<div class="row">
		<h1 class="bungee">Channels</h1>
		<div class="pull-right rightmargin">Count</div>
	</div>
	<div *ngIf="!channels" class="well">
  	Loading...<i class="fa fa-spinner fa-spin"></i>
	</div>
	<div *ngIf="error" class='alert alert-danger'>{{error}}</div>
	<ul *ngIf="!error" class="list-group">
	  <li class="list-group-item" *ngFor="let channel of channels">
          <span class="badge">{{ channel.debate_count || 0 }}</span>
		 <a routerLink="/browse/{{ channel.channel_name }}">
             {{ channel.channel_name }}
  		 </a>
	  </li>
	</ul>
</div>
